<form [formGroup]="loginForm" class="login-form">
  <div class="header">Login to your account</div>

  <mat-form-field class="form-field">
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      id="username"
      autocomplete="username"
      formControlName="username"
      required
    />
    <mat-error *ngIf="loginForm.get('username')?.invalid">
      {{ errorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      matInput
      id="password"
      formControlName="password"
      required
    />

    <mat-icon
      class="material-symbols-outlined"
      matTooltip="Show Password"
      matSuffix
      onKeyPress
      (click)="toggleShowPassword()"
      >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
    >
    @if (password.invalid) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      (click)="login()"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
    <div class="separator">
      <span>OR</span>
    </div>
    <button mat-stroked-button type="button" routerLink="/register">
      Sign up
    </button>
  </div>
</form>
