<header class="header">
  <div class="title">
    <span>PoGO DEX</span>
  </div>

  <nav *ngIf="isLoggedIn">
    <div class="options-label">
      <mat-slide-toggle (change)="onToggleChange($event)"></mat-slide-toggle>
      <span>Advanced Checklist</span>
    </div>

    <button mat-flat-button id="admin-button" class="admin-button">
      Admin Panel
    </button>

    <button
      mat-flat-button
      id="logout-button"
      class="logout-button"
      (click)="logOut()"
    >
      Log Out
    </button>
  </nav>
</header>
<button mat-flat-button id="go-to-top">
  <mat-icon>arrow_upward</mat-icon> Top
</button>
