<form [formGroup]="registerForm" class="register-form">
  <div class="header">Create account in PoGO Dex</div>

  <mat-form-field class="form-field">
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      id="username"
      placeholder="Username"
      autocomplete="username"
      formControlName="username"
      required
    />
    @if (username.invalid) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      matInput
      id="password"
      placeholder="Password"
      formControlName="password"
      required
    />
    <mat-icon
      class="material-symbols-outlined"
      (click)="toggleShowPassword()"
      matSuffix
      onKeyPress
      matTooltip="Show Password"
      >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
    >
    @if (password.invalid) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Password Validation</mat-label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      matInput
      id="passwordValidation"
      placeholder="Password"
      formControlName="passwordValidation"
      required
    />
    <mat-icon
      class="material-symbols-outlined"
      (click)="toggleShowPassword()"
      matSuffix
      onKeyPress
      matTooltip="Show Password"
      >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
    >
    @if (password.invalid) {
    <mat-error>{{ errorMessage() }}</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      (click)="register()"
      [disabled]="!registerForm.valid"
    >
      Sign up
    </button>
    <div class="separator">
      <span>OR</span>
    </div>
    <button mat-stroked-button type="button" routerLink="/login">Login</button>
  </div>
</form>
